.imageGallery {
  display: flex;
}

.image {
  width: 4vw;
  height: 4vw;
  margin: 5px;
  padding: 0px 0px 1vw 1vw;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.highlighted {
  width: 4vw;
  height: 4vw;
  margin: 5px;
  padding: 0px 0px 1vw 1vw;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.5);
}
