.main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-color: #171717;
}

.hrDivision {
  width: 70vw;
  height: 0.1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-top: #ffffff;
  border-width: 1px;
  border-style: dashed;
  border-spacing: 1vw;
  border-radius: 50%;
}

/* PROFILE */
/* ====================== */
.profile {
  padding-top: 8rem;
  width: 100vw;
  height: 50%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileBio {
  width: 75%;
  max-height: 75%;
  margin-left: 10%;
  border-style: dotted;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profileImageLink:hover {
  cursor: pointer;
}

.profileName {
  color: #fa7900;
  font-size: 3vw;
  width: 100%;
  text-align: left;
  padding: 2vw 2vw 1vw 2vw;
}

.profileJob {
  color: #ffffff;
  font-size: 2vw;
  width: 100%;
  text-align: left;
  padding: 0vw 0vw 2vw 2vw;
}

.profileCodeLanguages {
  color: #ffffff;
  font-size: 1.5vw;
  width: 100%;
  text-align: left;
  padding: 0vw 0vw 2vw 2vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* ====================== */


/* Badge */
/* ====================== */
.badgeSlider {
  width: 100vw;
  height: 5vw;
  max-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.badgeTitle {
  width: 100vw;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2vw;
}

/* ====================== */