@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-color: #171717;
}

.hrDivision {
  width: 70vw;
  height: 0.1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-top: 1px dashed #ffffff;
  /* Adicionando o tipo de borda */
  border-spacing: 1vw;
  border-radius: 50%;
}


/* PROFILE */
/* ====================== */
.profile {
  padding-top: 8rem;
  width: 100vw;
  height: 50%;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileBio {
  width: 75%;
  max-height: 75%;
  margin-left: 10%;
  border-style: dotted;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profileImageLink:hover {
  cursor: pointer;
}

.profileName {
  color: #fa7900;
  font-size: 3vw;
  width: 100%;
  text-align: left;
  padding: 2vw 2vw 1vw 2vw;
}

.profileJob {
  color: #ffffff;
  font-size: 2vw;
  width: 100%;
  text-align: left;
  padding: 0vw 0vw 2vw 2vw;
}

.profileCodeLanguages {
  color: #ffffff;
  font-size: 1.5vw;
  width: 100%;
  text-align: left;
  padding: 0vw 0vw 2vw 2vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* ====================== */


/* Badge */
/* ====================== */
.badgeSlider {
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badgeTitle {
  width: 100vw;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2vw;
}

/* ====================== */

/* About */
/* ====================== */
.about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.aboutTitle {
  width: 100%;
  margin-bottom: 2vw;
}

/* ====================== */

/* Contact */
/* ====================== */
.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.contact {
  width: 100%;
  margin-bottom: 2vw;
}

.imageGallery {
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================== */

/* Footer */
/* ====================== */
.footer {
  height: 5vw;
  width: 100vw;
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: flex-end;
  align-items: flex-start;
}

.developer {
  font-family: "Press Start 2P", system-ui;
  font-size: 0.7vw;
}

/* ====================== */